.index {
    margin-top: 1rem;
    padding-left: 15px;
    padding: 32px 20px;
}

.index h3 {
    color: #15848F;
}

li.active>a:not(.button) {
    background-color:#D8D8D8;
}

.side-nav li.active>a:first-child:not(.button) {
    color: black;
    font-weight: bold;
}

.header-title a {
    color: #FFFFFF;
    font-weight: bold;
}

